.search-not-found {
	border-color: var(--color-error) !important;
	-webkit-transition: border-color .8s linear;
	-moz-transition: border-color .8s linear;
	-o-transition: border-color .8s linear;
	transition: border-color .8s linear
}
